.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/migrate/
test/dummy/log/*.log
test/dummy/public/system/
test/dummy/tmp/
test/dummy/.sass-cache
rails_best_practices_output.html
rubocop.html
