#quadro-controls
  padding: 0em 1em

#quadro-actions
  display: none

#quadro-gallery
  overflow: auto

#quadro-gallery.collapsed
  height: 0em
  +transition-property(height)
  +transition-duration(0.5s)
  +transition-timing-function(ease-in)

#quadro-gallery.expanded
  height: 20em
  +transition-property(height)
  +transition-duration(0.5s)
  +transition-timing-function(ease-out)
