#quadro-welcome
  .jumbotron
    = widget_for :welcome, airmode: true do
      = image_tag 'quadro/quadro-logo.png', alt: 'Quadro Logo'
      %h1 Welcome to Quadro CMS
      %p An elegant CMS written in Ruby for Rails projects
    %br
    %br
    %br
    %pre
      %code.haml
        :preserve
          = widget_for :welcome, airmode: true do
            = image_tag 'quadro/quadro-logo.png', alt: 'Quadro Logo'
            %h1 Welcome to Quadro CMS
            %p An elegant CMS written in Ruby for Rails projects
