.widget.widget-gallery
  .row
    - widget.images.each do |image|
      .col-xs-6.col-sm-3.col-md-2
        .thumbnail
          = link_to image.url(:large), data: { lightbox: widget.name, title: image.alt } do
            = image_tag image.url(:thumb), alt: image.alt
            - unless image.alt.blank?
              .caption
                %small= image.alt
