%nav#quadro-toolbar.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
  .container-fluid
    %ul.nav.navbar-nav
      %li
        = link_to '#', id: 'quadro-save' do
          %i.fa.fa-save
          Save
